@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .button-primary {
    @apply bg-red-500 text-white p-2 text-base sm:p-4 sm:font-bold sm:text-2xl font-semibold rounded-2xl;
  }
  .button-secondary {
    @apply bg-red-500 text-white p-2 text-sm sm:p-4 sm:font-bold sm:text-xl font-semibold rounded-2xl;
  }
  .button-tertiary {
    @apply bg-gray-700 text-white p-2 text-sm sm:p-3 sm:font-bold sm:text-xl font-semibold rounded-2xl;
  }
}
